@charset "UTF-8";


/* ---------- COLORS ---------- */

body {
    background-color: #29252a;
}

::selection {
    background: #a751b260;
}

.bgColor-primary {
    background-color: #212121;
}

.bgColor-secondary {
    background-color: #303030;
}

.bgColor-white {
    background-color: #e0e0e0;
}

.bgColor-lightGrey {
    background-color: #e0e0e0;
}

.bgColor-darkGrey {
    background-color: #202020;
}

.bgColor-blueGrey {
    background-color: #353a3c;
}

.bgColor-purpleGrey {
    background-color: #29252a;
}

.bgColor-black {
    background-color: #000000;
}

.textColor-primary {
    color: #f0f0f0;
}

.textColor-secondary {
    color: #b0b0b0;
}

.textColor-white {
    color: #ffffff;
}

.textColor-lightGrey {
    color: #b0b0b0;
}

.textColor-black {
    color: #000000;
}

.header-fade {
    background: linear-gradient(to bottom, #29252a00, #29252aff);
}

.header-fadeLight {
    background: linear-gradient(to bottom, #dddddd00, #ddddddff);
}

.announcement {
    background-color: #39353b;
}

.card {
    background-color: #373138;
}

.card-Major {
    background-color: #ffffff10;
}

.card-Major:hover {
    background-color: #ffffff30;
}

.cardPhotography {
    background-color: #262626;
}

.cardPhotography-description {
    background-color: #463f47;
}

.card-image {
    background-color: #302b30;
}

.extButtonSub {
    background-color: #504952;
}

.extButtonSub:hover {
    background-color: #655b66;
}

.cardPhotography-metadataSubIcon {
    filter: invert(1);
}

.gallery-section {
    background-color: #29252a;
}

#navbarDesktop {
  background-color: #363636;
}

#navbarMobile {
  background-color: #363636;
}

.navbar-link {
	background-color: #363636;
}

.navbar-link:hover {
	background-color: #606060;
}

#socialMediaHome {
    background: #202020;
}

#socialMediaNavbar {
    background-color: #202020;
}

#socialMedia1 {
    background-color: #202020;
}

#socialMedia1:hover {
    background-color: #606060;
}

#socialMedia2 {
    background-color: #202020;
}

#socialMedia2:hover {
    background-color: #606060;
}

#footer {
    background-color: #363636;
}
