@charset "UTF-8";


/* ----------  LIGHT THEME ---------- */

body {
    background-color: #f0f0f0;
}

::selection {
  background: #faab3460;
}

.bgColor-primary {
    background-color: #f0f0f0;
}

.bgColor-secondary {
    background-color: #d8d8d8;
}

.textColor-primary {
    color: #000000;
}

.textColor-secondary {
    color: #606060;
}

.header-fade {
    background: linear-gradient(to bottom, #f0f0f000, #f0f0f0ff);
}

.card {
    background-image: linear-gradient(to bottom, #f6edf7, #fef6ea);
}

.cardPhotography {
    background-color: #f2f2f2;
}

.cardPhotography-description {
    background-color: #ffffff;
}

.card-shadow {
    box-shadow: 0rem 0.1rem 0.5rem #00000030;
}

.card-image {
    background-color: #ffffff;
}

.extButtonSub {
    background-color: #f5e4cb;
}

.extButtonSub:hover {
    background-color: #e3d4bc;
}

.cardPhotography-metadataSubIcon {
    filter: invert(0);
}










/* ----------  DARK THEME ---------- */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #212121;
    }

    ::selection {
      background: #a751b260;
    }

    .bgColor-primary {
        background-color: #212121;
    }

    .bgColor-secondary {
        background-color: #303030;
    }

    .textColor-primary {
        color: #f0f0f0;
    }

    .textColor-secondary {
        color: #b0b0b0;
    }

    .header-fade {
        background: linear-gradient(to bottom, #21212100, #212121ff);
    }

    .card {
        background-image: linear-gradient(to bottom, #333333, #333333);
    }

    .cardPhotography {
        background-color: #262626;
    }

    .cardPhotography-description {
        background-color: #333333;
    }

    .card-shadow {
        box-shadow: 0rem 0.1rem 0.5rem #00000060;
    }

    .card-image {
        background-color: #000000;
    }

    .extButtonSub {
        background-color: #474747;
    }

    .extButtonSub:hover {
        background-color: #595959;
    }

    .cardPhotography-metadataSubIcon {
        filter: invert(1);
    }
}
