Options +FollowSymLinks
RewriteEngine On
RewriteRule ^school school.html
RewriteRule ^photos photos.html
RewriteRule ^sketches sketches.html
RewriteRule ^physicalart physicalart.html
RewriteRule ^digitalart digitalart.html
