@charset "UTF-8";


/* ---------- Background colours ---------- */

.bgColor-primary {
    background-color: #212121;
}

.bgColor-secondary {
    background-color: #303030;
}

.bgColor-white {
    background-color: #e0e0e0;
}

.bgColor-lightGrey {
    background-color: #dddddd;
}

.bgColor-darkGrey {
    background-color: #202020;
}

.bgColor-blueGrey {
    background-color: #353a3c;
}

.bgColor-cyberthug {
    background-color: #2d2a29;
}

.bgColor-school-1a {
    background-color: #3d454d;
}

.bgColor-school-1b {
    background-color: #32383f;
}

.bgColor-school-2a {
    background-color: #4d5761;
}

.bgColor-school-2b {
    background-color: #3f474f;
}

.bgColor-school-3a {
    background-color: #5d6975;
}

.bgColor-school-3b {
    background-color: #4c555f;
}

.bgColor-school-4a {
    background-color: #6d7b8a;
}

.bgColor-school-4b {
    background-color: #596470;
}

.bgColor-photos {
    background-color: #464a49;
}

.bgColor-photos-1a {
    background-color: #3f4b48;
}

.bgColor-photos-1b {
    background-color: #333d3a;
}

.bgColor-photos-2a {
    background-color: #505e5a;
}

.bgColor-photos-2b {
    background-color: #414c49;
}

.bgColor-photos-3a {
    background-color: #60716d;
}

.bgColor-photos-3b {
    background-color: #4e5c59;
}

.bgColor-photos-4a {
    background-color: #718681;
}

.bgColor-photos-4b {
    background-color: #5c6d69;
}

.bgColor-sketches {
	background-color: #e3deda;
}

.bgColor-black {
    background-color: #000000;
}


/* ---------- Text colours ---------- */

.textColor-primary {
    color: #f0f0f0;
}

.textColor-secondary {
    color: #b0b0b0;
}

.textColor-white {
    color: #ffffff;
}

.textColor-lightGrey {
    color: #b0b0b0;
}

.textColor-darkGrey {
    color: #606060;
}

.textColor-black {
    color: #000000;
}
