@charset "UTF-8";


/* ---------- Background colours ---------- */

.bgColor-primary {
    background-color: #212121;
}

.bgColor-secondary {
    background-color: #303030;
}

.bgColor-white {
    background-color: #e0e0e0;
}

.bgColor-lightGrey {
    background-color: #dddddd;
}

.bgColor-grey {
	background-color: #d0d0d0;
}

.bgColor-darkGrey {
    background-color: #202020;
}

.bgColor-black {
    background-color: #000000;
}

.bgColor-blueGrey {
    background-color: #353a3c;
}

.bgColor-default {
    background-color: #404040;
}

.bgColor-blue {
	background-color: #3a435b;
}

.bgColor-blueLight {
	background-color: #4C5777;
}

.bgColor-blueDark {
	background-color: #2F364A;
}


/* ---------- Cyberthug colours ---------- */

.bgColor-cyberthug {
    background-color: #40332f;
}


/* ---------- Phoenix Nest colours ---------- */

.bgColor-phoenixNest-1a {
    background-color: #3b3947;
}

.bgColor-phoenixNest-1b {
    background-color: #302e3a;
}

.bgColor-phoenixNest-2a {
    background-color: #4b475a;
}

.bgColor-phoenixNest-2b {
    background-color: #3d3a49;
}

.bgColor-phoenixNest-3a {
    background-color: #5b566c;
}

.bgColor-phoenixNest-3b {
    background-color: #4a4658;
}

.bgColor-phoenixNest-4a {
    background-color: #6c6580;
}

.bgColor-phoenixNest-4b {
    background-color: #585268;
}


/* ---------- School colours ---------- */

.bgColor-school-1a {
    background-color: #3d454d;
}

.bgColor-school-1b {
    background-color: #32383f;
}

.bgColor-school-2a {
    background-color: #4d5761;
}

.bgColor-school-2b {
    background-color: #3f474f;
}

.bgColor-school-3a {
    background-color: #5d6975;
}

.bgColor-school-3b {
    background-color: #4c555f;
}

.bgColor-school-4a {
    background-color: #6d7b8a;
}

.bgColor-school-4b {
    background-color: #596470;
}


/* ---------- Photos colours ---------- */

.bgColor-photos-1a {
    background-color: #3f4b48;
}

.bgColor-photos-1b {
    background-color: #333d3a;
}

.bgColor-photos-2a {
    background-color: #505e5a;
}

.bgColor-photos-2b {
    background-color: #414c49;
}

.bgColor-photos-3a {
    background-color: #60716d;
}

.bgColor-photos-3b {
    background-color: #4e5c59;
}

.bgColor-photos-4a {
    background-color: #718681;
}

.bgColor-photos-4b {
    background-color: #5c6d69;
}


/* ---------- Text colours ---------- */

.textColor-primary {
    color: #f0f0f0;
}

.textColor-secondary {
    color: #b0b0b0;
}

.textColor-white {
    color: #ffffff;
}

.textColor-lightGrey {
    color: #b0b0b0;
}

.textColor-darkGrey {
    color: #606060;
}

.textColor-black {
    color: #000000;
}
